.card {
    margin-bottom: 100px;
    display: flex;
    font-size: 30%;
    margin: auto;
    width: 60%;
    height: 45vh;
    border-radius: 25px;
    padding: 0.5% 5%;
    background-color: cyan;
}